
<div class="page-header">
	<h1><small>Welcom to</small> Kaoru's home</h1>
</div>


<div class="row">
	<% 0.upto(5) do |i| %>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><%= @weather[i].weather_date %></h3>
				</div>
				<div class="panel-body">
					<p><%= "#{@weather[i].min}~#{@weather[i].max} 度" %></p>
					<p><%= @weather[i].des %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>

