
<div class="container-fluid">

	<div class="page-header">
		<h1>阿麥的相本</h1>
	</div>

	<div class="row" id="photowall">
	
  	</div>
	
</div>

<script language="javascript">
$(document).ready(ready);


var g_apiKey = "eba448bcd6c37026451a079690eff107";
var g_photosetId = '72157648727044669';
var g_totalPage = 0;
var g_page = 1;
var g_prePage = 50;
var g_timer = null;

function ready()
{
	$(document).one( 'page:before-change', unload);
	initFancybox();
	getFlickr('flickr.photosets.getInfo', onGetInfo, {photoset_id: g_photosetId});
}


function unload()
{
	clearInterval(g_timer);
}


function onGetInfo(data)
{
	var obj = JSON.parse(data);
	var totalCount = obj.photoset.photos;
	g_totalPage = Math.ceil(totalCount / g_prePage);
	getPhotos();
	g_timer = setInterval(getPhotos, 1000);
}


function getPhotos()
{
	getFlickr(
		'flickr.photosets.getPhotos',
		onGetPhotos,
		{
			photoset_id: g_photosetId,
			per_page: g_prePage,
			page: g_page
		}
	);

	//console.log( 'g_totalPage='+g_totalPage+' g_page='+g_page  );
	if( g_totalPage ==  g_page)
		clearInterval(g_timer);
	else
		g_page++;

}


var g_fedeinFlag = true;

function onGetPhotos(data)
{
	var obj = JSON.parse(data);
	for(i in obj.photoset.photo)
	{
		$('#photowall').append( generatePicTag( obj.photoset.photo[i] ) );
		$('#'+obj.photoset.photo[i].id).fadeIn( 2000 );
	}
	//$('.fancybox').fadeIn( 2000 );
}


function generatePicTag(info)
{
	//var url = generateSmallPic(info);
 	arr = [
	'<a id="'+info.id+'" class="fancybox" rel="kaoru_gallery" href="'+generateLargePic(info)+'" style="display:none;" >',
   			'<img src="'+generateSmallPic(info)+'" style="padding: 3px; border: 1px solid gray; margin: 3px;" >',
	'</a>'
	];

	return arr.join('');
}


function generateSmallPic(info)
{
	console.log(info);
	return "https://farm" + info.farm + ".staticflickr.com/" + info.server + "/" + info.id + "_" + info.secret + "_q.jpg"
}


function generateLargePic(info)
{
	//console.log(info);
	return "https://farm" + info.farm + ".staticflickr.com/" + info.server + "/" + info.id + "_" + info.secret + "_b.jpg"
}


function getFlickr(method, callback, data)
{
	var defaultVal = {
		format: 'json',
		method: method,
		api_key: g_apiKey
	};

	$.get(
		"https://api.flickr.com/services/rest",
		$.extend(defaultVal, data)
	).always(
		function(data)
		{	
			var rspText = data.responseText
			var rc = rspText.substring( 'jsonFlickrApi'.length+1 , rspText.length-1);
			callback( rc );
		}
	);
}


function initFancybox()
{
	$(".fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
}

</script>