<style>
.img_cut
{
    width: 100%;
    //height: 20px;
    overflow: hidden;
}

#rightside_bar
{
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

#id_video
{
    z-index: 1;
    width: 100%;
    background-color: black;
}

#main_panel
{
    z-index: -1;
    height: 600px;
    width: 100%;
    background-color: gray;
    //position: relative;
    //pointer-events:none;
}

/*#prev_panel
{
    z-index: 10;
    height: 100%;
    width: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    //opacity:0.4;
    //background-color: white;
    pointer-events:none;
}

#prev_btn
{
    left: 10px;
    top: 270px;
    z-index: 11;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    //display: none;
}

#next_panel
{
    z-index: 10;
    height: 100%;
    width: 80px;
    position: absolute;
    top: 0px;
    right: 0px;
    //opacity:0.4;
    //background-color: white;
    pointer-events:none;
}

#next_btn
{
    right: 10px;
    top: 270px;
    z-index: 11;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    //display: none;
}*/

</style>

<div class="container-fluid">

    <div class="page-header">
        <h1><small>The videos of </small>Kaoru</h1>
    </div>

    <div class="row">

        <div class="col-md-10" >
            <div id="main_panel">
                <!--<div id="prev_panel" class="btn_panel">
                    <button class="btn btn-default" type="button" id="prev_btn" onclick="prevPage();">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                </div>-->

                <video id="id_video" controls autoplay preload="auto" src="<%= full_url(@movie_url) %>"></video>

                <!--<div id="next_panel" class="btn_panel">
                    <button class="btn btn-default" type="button" id ="next_btn" onclick="prevPage();">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>-->
            </div>
        </div>

        <div id="rightside_bar" class="col-md-2">
            <% @files.each do |f| %>
                <% mov_src = video_stream_path+"/#{f}" %>
                <div class="img_cut img-thumbnail">
                    <a id="<%=f%>" href="<%= mov_src %>" class="cls_other_videos" >
                        <% img_src = "/kaoru_videos/images/#{f}.jpg" %>
                        <img src="<%= full_url(img_src) %>" >
                    </a>
                </div>
            <% end %>
        </div>

    </div>
</div>

<script language="javascript">
$(document).ready(ready);


function ready()
{console.log(arguments.callee.name);

    var w = $('.img_cut').css('width');
    var h = parseFloat(w) / 8 * 6;
    console.log(w,h);
    $('.img_cut').css('height', h);

    $('#id_video').bind('ended', onEnded);
    //$(document).on( 'click', '#prev_btn', prevPage);
    //$(document).on( 'click', '#next_btn', nextPage);
    $(document).on( 'mouseover', '.img_cut', onPhotoOver);
    window.location = "#id_video";
}


function prevPage()
{console.log(arguments.callee.name);
    //$('#prev_btn').fadeIn();
}

function nextPage()
{console.log(arguments.callee.name);
    //$('#prev_btn').fadeOut();
}


function onEnded()
{console.log(arguments.callee.name);

    var src = $(this).prop('src');
    var arr = src.split('/');
    var id = arr[arr.length-1].replace('.mp4','');

    //console.log(id);
    //console.log($("#"+id).next());

    if( $("#"+id).next().length==0 )
    {
        window.location = $(".img_cut").first().prop("href");
    }
    else
    {
        window.location = $("#"+id).next().prop("href");
    }
}

function onPhotoOver()
{
    $(this).transition({
        scale: [1.2, 1.2],
        complete: onPhotoLeave
    });
}

function onPhotoLeave()
{
    $(this).transition({
        scale: [1, 1],
    });
}


function unload()
{
    $(document).off('ended', '.cls-video');
    $(document).off( 'mouseover', '.img_cut');

}

</script>
