<style>
.img_wrap
{
    padding: 3px;
    border: 1px solid #D8D8D8;
    margin: 3px;
    width: 200px;
    height: 112px;
    text-align: center;
    vertical-align:middle;
}

.img_link
{
}

.img_src
{
    max-width: 100%;
    max-height: 100%;
}


#rightside_bar
{
    height: 700px;
    overflow-x: auto;
    overflow-y: auto;
}

#id_video
{
    z-index: 1;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#main_panel
{
    z-index: -1;
    height: 600px;
    width: 100%;
    background-color: black;
    text-align:center;
}

</style>

<div class="container-fluid">

    <div class="page-header">
        <h1><small>The videos of </small>Kaoru</h1>
    </div>

    <div class="row">

        <div class="col-md-10" >
            <div class="btn-group" role="group">
                <button id="btn_prev" type="button" class="btn btn-default"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                <button id="btn_repeat" type="button" class="btn btn-default"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
                <button id="btn_next" type="button" class="btn btn-default"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
            </div>

            <br>
            <br>

            <div id="main_panel">
                <video id="id_video" controls autoplay preload="auto" src="<%= full_url(@movie_url) %>"></video>
            </div>
        </div>

        <div id="rightside_bar" class="col-md-2">
            <% @files.each do |f| %>
                <% mov_src = video_stream_path+"/#{f}" %>
                <div class="img_wrap">
                    <a id="<%=f%>" href="<%= mov_src %>" class="img_link" >
                        <% img_src = "/kaoru_videos/images/#{f}.jpg" %>
                        <img src="<%= full_url(img_src) %>" class="img_src">
                    </a>
                </div>
            <% end %>
        </div>

    </div>
</div>

<script language="javascript">
$(document).ready(ready);


function ready()
{console.log(arguments.callee.name);

    $('#id_video').bind('ended', onEnded);

    $(document).on('mouseover', '.img_wrap', onPhotoOver);

    $(document).on('click', '#btn_prev', onPrev);
    $(document).on('click', '#btn_repeat', onRepeat);
    $(document).on('click', '#btn_next', onNext);

    window.location = "#id_video";
}

function onRepeat()
{console.log(arguments.callee.name);
    var ref = $(".img_link").last().prop("href");
    //console.log(ref);
    window.location = ref;
}

function onNext()
{console.log(arguments.callee.name);
    var ref = $(".img_link").first().prop("href");
    //console.log(ref);
    window.location = ref;
}

function onPrev()
{console.log(arguments.callee.name);
    var cnt = $(".img_link").length;
    var ref = $(".img_link").eq(cnt-2).prop("href");
    //console.log(ref);
    window.location = ref;
}


function onEnded()
{console.log(arguments.callee.name);
    onNext();
}

function onPhotoOver()
{
    $(this).transition({
        scale: [1.2, 1.2],
        complete: onPhotoLeave
    });
}

function onPhotoLeave()
{
    $(this).transition({
        scale: [1, 1],
    });
}


function unload()
{

}

</script>
