<div class="container-fluid">

    <div class="page-header">
        <h1><small>The videos of </small>Kaoru</h1>
    </div>

    <div class="row">
        <div class="col-md-9">
            <video
                id="id_video"
                controls
                autoplay
                width="100%"
                height="600"
                preload="auto"
                src="<%= full_url(@movie_url) %>"
                style="padding: 3px; border: 1px solid #D8D8D8; margin: 3px; background-color: black;"
                class="cls_video">
            </video>
        </div>

        <div class="col-md-3">
            <% @files.each do |f| %>
                <% mov_src = video_stream_path+"/#{f}" %>
                <a id="<%=f%>" href="<%= mov_src %>" class="cls_other_videos">
                    <% img_src = "/kaoru_videos/images/#{f}.jpg" %>
                    <img src="<%= full_url(img_src) %>" style="padding: 3px; border: 1px solid #D8D8D8; margin: 3px;" >
                </a>
            <% end %>
        </div>

    </div>
</div>

<script language="javascript">
$(document).ready(ready);


function ready()
{console.log(arguments.callee.name);

    $('.cls_video').bind('ended', onEnded);
    $(document).on( 'mouseover', '.cls_other_videos', onPhotoOver);
}


function onEnded()
{console.log(arguments.callee.name);

    var src = $(this).prop('src');
    var arr = src.split('/');
    var id = arr[arr.length-1].replace('.mp4','');

    //console.log(id);
    //console.log($("#"+id).next());

    if( $("#"+id).next().length==0 )
    {
        window.location = $(".cls_other_videos").first().prop("href");
    }
    else
    {
        window.location = $("#"+id).next().prop("href");
    }
}

function onPhotoOver()
{
    $(this).transition({
        scale: [1.2, 1.2],
        complete: onPhotoLeave
    });

    /*$(this).transition({
        perspective: '250px',
        rotateY: '180deg',
        complete: onPhotoLeave
    });*/
}

function onPhotoLeave()
{
    $(this).transition({
        scale: [1, 1],
    });

    /*$(this).transition({
        perspective: '250px',
        rotateY: '0deg'
    });*/
}


function unload()
{
    $(document).off('ended', '.cls-video');
    $(document).off( 'mouseover', '.cls_other_videos');

}

</script>
