<div class="container-fluid">

    <div class="page-header">
        <h1><small>The videos of </small>Kaoru</h1>
    </div>

    <div class="row" id="photowall" style="text-align:left" >
        <% @video_files.each_with_index do |f,i| %>
            <% img = '/kaoru_videos/images/' + File.basename(f,".*") + '.jpg' %>
            <video id="video_<%=i%>"  controls width="200" height="150" preload="none" src="<%=f%>" poster="<%=img%>" class="cls_video">
            </video>
        <% end %>
    </div>
</div>

<script language="javascript">
$(document).ready(ready);


function ready()
{console.log(arguments.callee.name);

    $('.cls_video').bind('ended', onEnded);
}


function onPlayed()
{console.log(arguments.callee.name);
}


function onEnded()
{console.log(arguments.callee.name);

    console.log($(this).next().prop('id'));
    $(this).next().get(0).play();
}


function unload()
{
    $(document).off( 'ended', '.cls-video');

}

</script>
