<div class="container-fluid">

    <div class="page-header">
        <h1><small>The videos of </small>Kaoru</h1>
    </div>

    <div class="row">
        <div class="col-md-10">
            <video
                controls
                autoplay
                width="800"
                height="600"
                preload="auto"
                src="<%= full_url(@movie_url) %>"
                class="cls_video">
            </video>
        </div>

        <div class="col-md-2">
            <% @files.each do |f| %>
                <% mov_src = video_stream_path+"/#{f}" %>
                <% mov_src = URI.escape(mov_src) %>
                <a href="<%= full_url(mov_src) %>">
                    <% img_src = "/kaoru_videos/images/#{f}.jpg" %>
                    <%= image_tag(full_url(img_src)) %>
                </a>
            <% end %>
        </div>

    </div>
</div>

<script language="javascript">
$(document).ready(ready);


function ready()
{console.log(arguments.callee.name);

    $('.cls_video').bind('ended', onEnded);
}


function onPlayed()
{console.log(arguments.callee.name);
}


function onEnded()
{console.log(arguments.callee.name);

    console.log($(this).next().prop('id'));
    $(this).next().get(0).play();
}


function unload()
{
    $(document).off( 'ended', '.cls-video');

}

</script>
