<div class="container-fluid">
  	<div class="page-header">
    	<h1>Log history</h1>
	</div>

	<div class="row">


		<div class="col-md-8">
			<table class="table table-hover table-striped">
			    <thead>
			    	<tr>
			        	<th>ip</th>
			        	<th>path</th>
			        	<th>agent</th>
			        	<th>created date</th>
			      	</tr>
			    </thead>

			    <tbody>
			      	<% @histories.each do |row| %>
			        	<tr>
			          	<td><%= row.ip %></td>
			          	<td><%= row.path %></td>
			          	<td><%= row.agent %></td>
			          	<td><%= row.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
			        	</tr>
			      	<% end %>
			    </tbody>
			</table>
		</div>


		<div class="col-md-4">
		</div>
	</div>
</div>