<div class="container-fluid">

	<div class="page-header">
		<h1>Movie <small> reminder</small></h1>
	</div>

	<div class="row">
		<div class="col-md-6">
			<%= form_tag action: "index" do %>
				<div class="input-group">
				  	<span class="input-group-btn">
						<select class="form-control" id="sel_movies" >
					  		<% @movies.each do |row| %>
					  		<option value="<%= row.id %>"><%= row.name %></option>
					  		<% end %>
						</select>
					</span>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" id="btn_pin" >
							<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
						</button>
					</span>
				</div>
			<% end %>
		</div>
	</div>
	<br>
	
	<div class="row">
		<ul class="nav nav-tabs">
	  		<li role="presentation"><a href="#" class="cls-tab">Home</a></li>
	  		<li role="presentation"><a href="#" class="cls-tab">Profile</a></li>
	  		<li role="presentation"><a href="#" class="cls-tab">Messages</a></li>
		</ul>
	</div>
</div>


<script language="javascript">

$(document).ready(ready);
function ready()
{console.log(arguments.callee.name);

	$(document).one( 'page:before-change', unload);
	$(document).on( 'click', '.cls-tab',  onClickTab );
	$(document).on( 'click', '#btn_pin',  onClickPin );
}


function unload()
{


}


function onClickPin()
{
	var id = $( "#sel_movies option:selected" ).val();
	console.log(id);
}


function onClickTab()
{console.log(arguments.callee.name);

	$('.cls-tab').each(function(index){ $(this).parent().removeClass('active') });
  	$(this).parent().addClass( "active" );
}


</script>


